.swiper-slide.index
  each item, index in items
    .kangastus-item(data-id=item.id, style=item.background)
      .kangastus-item-content-container
        h1.index-title
          =item.title.rendered
        .index-content
          !=item.content.rendered
        h1.index-icon
          i.icon-arrow-right-round
